.theme-duolingo {
  font-size: 15px;
  background: #fff;
  font-family: sans-serif;

  p {
    margin: 0;
    line-height: 1.5rem;
  }

  h1 {
    margin: 0;
  }

  .ws-row {
    position: relative;

    &.ws-row-primary {
      background: white;
      fill: white;
      color: black;
    }

    &.ws-row-primary-inverted {
      background: #1cb0f6;
      fill: #1cb0f6;
      color: white;

      .ql-size-title {
        color: white;
      }
    }
  }

  .ws-row-fade {
    position: absolute;
    z-index: 8;
    height: 14px;
    width: 100%;
    bottom: -14px;
    left: 0;
  }

  .ws-row-secondary {
  }

  .ws-row-secondary-inverted {
  }

  .ws-button-container {
    display: block;
    width: 100%;
    text-align: center;

    .ws-button {
      display: inline-block;
      background: #1cb0f6;
      color: white;
      padding: 10px 20px;
      border-radius: 14px;
      font-weight: 700;
      text-align: center;
      font-size: 18px;
      text-transform: uppercase;

      .ql-editor {
        font-size: 18px !important;
      }
    }
  }

  .ws-image-container {
    &-left {
      text-align: left;
    }

    &-center {
      text-align: center;
    }

    &-right {
      text-align: right;
    }
  }

  .ql-editor {
    padding: 0px;
    font-size: 15px;
  }

  .ws-row {
    background: #fff;
  }

  .ws-row-blocks {
    display: flex;
    align-items: flex-start;
  }

  .ql-align-left {
    text-align: left;
  }

  .ql-align-center {
    text-align: center;
  }

  .ql-align-right {
    text-align: right;
  }

  .ql-align-justify {
    text-align: justify;
  }

  .ql-size-small {
    font-size: 13px;
  }

  .ql-size-title {
    font-size: 28px;
    font-weight: 700;
    color: #4c4c4c;
    line-height: 38px;
  }
}
